
@{
    ViewData["Title"] = "List";

}

<h1>List of Person</h1>
@foreach (Person person in ViewBag.People)
{
    <a href="/Person/Details?id=@(person.ID)"><p>@(person.FirstName) @(person.LastName)</p></a>
}

